*{
    background-color: black;
}
.Image{
    margin: 0;
    padding: 0;
    height: 70vh;
    width: 50vh;
    position: absolute;
    right: 10%;
    border-radius: 40%;
    border: 8px solid dodgerblue;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
span{
    color: dodgerblue;
}
.logo{
    color: white;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 3px;
}
.logo:hover{
    color: dodgerblue;
    transition: 0.4s;
}
li{
    display: inline-block;
    padding: 5px 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1px;
}
nav ul li a:hover{
    color: dodgerblue;
    transition: 0.4s;
}
.aboutMe{
    color: white;
    position: absolute;
    left: 10%;
    top: 40%;
}
.aboutMe a{
    position: absolute;
    top: 80%;
    margin: 50px;
    border: 20px;
    padding: 10px;
    font-weight: bold;
    background-color: white;
    text-decoration: none;
    border-radius: 10px;
}
.aboutMe a:hover{
    background-color: dodgerblue;
}
.skills h1{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 120%;
    left: 45%;
    letter-spacing: 2px;
    font-size: 35px;
    font-weight: bold;
}
.skills .image{
    margin: 0;
    padding: 0;
    border: 8px solid dodgerblue;
    display: inline-block;
    position: absolute;
    top: 140%;
    height: 428px;
    width: 715px;
    border-radius: 15px;
}
.skills .details{
    margin: 20px;
    padding: 20px;
    display: inline-block;
    position: absolute;
    top: 155%;
    right: 5%;
    color: white;
    font-size: 20px;
    height: 150px;
    width: 30vw;
    text-align: center;
}
.projects h1{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 235%;
    left: 45%;
    letter-spacing: 2px;
    font-size: 35px;
    font-weight: bold;
}
.card1{
    height: 200px;
    width: 30vw;
    padding: 20px 35px;
    background: white;
    color: dodgerblue;
    border-radius: 10px;
    margin: 15px;
    position: absolute;
    top: 255%;
    left: 10%;
    text-align: center;
}
.card2{
    height: 200px;
    width: 30vw;
    padding: 20px 35px;
    background: white;
    color: dodgerblue;
    border-radius: 10px;
    margin: 15px;
    position: absolute;
    top: 255%;
    right: 10%;
    text-align: center;
}
.card1:hover{
    background-color: rgb(134, 179, 224);
    transition: 0.4s;
    cursor: pointer;
}
.card2:hover{
    background-color: rgb(134, 179, 224);
    transition: 0.4s;
    cursor: pointer;
}
.Contact h1{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 325%;
    left: 45%;
    letter-spacing: 2px;
    font-size: 35px;
    font-weight: bold;
}
.Contact a{
    position: absolute;
    top: 345%;
    font-weight: bold;
    font-size: 20px;
    color: white;
    text-decoration: none;
}
.email{
    position: absolute;
    left: 10%;
}
.contactMe{
    position: absolute;
    right: 10%;
}
.Contact a:hover{
    color: rgb(134, 179, 224);
    transition: 0.4s;
}
.Contact .mail{
    position: absolute;
    top: 344%;
    color: dodgerblue;
    left: 3%;
    font-size: 25px;
}
.Contact .linkedin{
    position: absolute;
    top: 344%;
    color: dodgerblue;
    right: 23%;
    font-size: 25px;
}
.symbol .fb{
    position: absolute;
    top: 365%;
    left: 45%;
}
.symbol .fb:hover{
    transform: scale(1.3);
    transition: 0.4s;
    cursor: pointer;
}
.symbol .wa{
    position: absolute;
    top: 370%;
    left: 50%;
}
.symbol .wa:hover{
    transform: scale(1.3);
    transition: 0.4s;
    cursor: pointer;
}
.symbol .insta{
    position: absolute;
    top: 365%;
    left: 56%;
}
.symbol .insta:hover{
    transform: scale(1.3);
    transition: 0.4s;
    cursor: pointer;
}
.tag{
    position: absolute;
    top: 390%;
    right: 5%;
    color: white;
}